<!-- colocamos RouterLinkActiveOptions para que no se nos coloque siempre la clase activa, tiene que tener la ruta exacta de '/' para que se coloque
   la clase activa. -->
<nav>
  <a
    [routerLink]="['/']"
    routerLinkActive="active"
    [routerLinkActiveOptions]="{ exact: true }"
  >
    Home
  </a>

  <a
    [routerLink]="['/about']"
    routerLinkActive="active"
    [routerLinkActiveOptions]="{ exact: true }"
  >
    About
  </a>

  <a
    [routerLink]="['/contact']"
    routerLinkActive="active"
    [routerLinkActiveOptions]="{ exact: true }"
  >
    Contact
  </a>
</nav>
